a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: gray;
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: lighter;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.relative {
  position: relative;
}

.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}

.absolute {
  position: absolute;
  top: 30%;
  left: 30%;
}

.text {
  font-size: 50px;
  font-family: "Indie Flower", cursive;
  color: #c71585;
  line-height: 100px;
}

span {
  color: #00ced1;
}

.commit {
  font-size: 20px;
  color: #c71585;
  line-height: 30px;
}

.company {
  font-size: 15px;
  font-weight: lighter;
}

.list {
  padding: 0px;
  margin: 0px;
}

.news {
  border-top: 1px solid #aaaaaa;
  width: 100%;
}
.news li {
  border-bottom: 1px solid #aaaaaa;
  font-size: 14px;
}
.news li a {
  display: table;
  padding: 10px;
  width: 100%;
}

.news li p {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

.news li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

.news li .news01,
.news li .news02,
.news li .news03,
.news li .news04,
.news li .news05 {
  border-radius: 30px;
  color: #ffffff;
  font-size: 9px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
  background-color: #c71585;
}

.about {
  background-color: #ebebeb;
  padding: 60px 0;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
}

.about__img img {
  width: 80%;
}

.about__img {
  margin-top: 20px;
  position: relative;
  left: 50%;
  width: 40%;
}

.about__content {
  width: 40%;
}

.main {
  height: 600px;
  display: flex;
}
.content {
  background: #c71585;
  height: 100%;
  color: #fff;
  width: 50%;
}
.sidebar {
  background: #e5c4f8;
  height: 50%;
  color: #fff;
  width: 50%;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.practice__card {
  width: 30%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.card__img img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card__content {
  padding: 15px 25px;
}

.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

.tag {
  font-size: 14px;
  text-align: left;
}

.card__tag {
  display: inline-block;
}

.card__date {
  display: inline-block;
  margin-left: 20px;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

table {
  width: 60%;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}

.d-fl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fl-itm {
  width: 50%;
}

.practice__btn {
  width: 200px;
  padding: 10px 0;
  color: #fff;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff5800, #8b00be);
  text-align: center;
  box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
  margin: 100px auto 0;
  display: block;
}
